<h1>Test
  <p>first controller</p>
  <p><%= @testowa %></p>
  <p><% @imiona.each do |i| %>
    <%= "Witaj #{i} w kursie" %>

    <br>

    <% end %></p>
  <p><%= link_to('nawigcja', {:action => 'nawigacja'})  %></p>
</h1>
